<div class="row">
  <div class="col-sm-8"
    [class.ml-3]="!mobile && user"
    [class.offset-sm-2]="!mobile && !user">
    <div *ngIf="user" class="content-section">
      <legend class="mb-4">Save a run</legend>
      <app-run-form (runSubmit)="submit($event)"></app-run-form>
    </div>
    <div *ngIf="!user" class="alert alert-secondary">
      Please <a routerLink="/login">log in</a> to start sharing runs
    </div>

    <div *ngFor="let run of runs" class="content-section">
      <app-run-pill [run]="run"
      (runDelete)="delete($event)"></app-run-pill>
    </div>
    <div *ngIf="next" class="loader"></div>
  </div>
  <div *ngIf="!mobile" class="col mr-3">
    <app-sidebar></app-sidebar>
  </div>
</div>