<div fxLayout="row">
  <div fxFlex="70" fxFlex.xs
    [class.ml-3]="!mobile && user"
    [class.offset-sm-2]="!mobile && !user">
    <div *ngIf="user">
      <app-run-form (runSubmit)="submit($event)"></app-run-form>
    </div>
    <div *ngIf="!user" class="alert alert-secondary">
      Please <a routerLink="/login">log in</a> to start sharing runs
    </div>

    <div class="list" fxLayout="column" fxLayoutGap="8px">
      <app-run-pill *ngFor="let run of runs" [run]="run"
      (runDelete)="delete($event)"></app-run-pill>
    </div>

    <div *ngIf="next" class="loader"></div>
  </div>
  
  <div fxFlex *ngIf="!mobile" class="col mr-3">
    <app-sidebar></app-sidebar>
  </div>
</div>