<mat-card fxLayout="row" 
fxLayoutAlign="start stretch"
fxLayoutGap="5px"
fxLayoutGap.xs="0">
  <mat-card-title-group>
    <mat-card-subtitle>
      <img mat-card-sm-image src="{{run.user.gravatar_url}}" alt="profile image.">
      <br>
      {{run.user.username}}
    </mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content fxFlex>
    <mat-card-title>
      <a routerLink="/runs/{{run.pk}}">{{run.run_date | date }}</a>
    </mat-card-title>
    <span *ngIf="run.run_type"><fa-icon [icon]="run_type"></fa-icon> {{run.run_type}}</span>
    <table style="width:70%" class="table table-sm table-borderless">
      <tbody>
        <tr>
          <td width="30%">
            <small>Distance</small>
            <div>{{run.distance}} {{run.units}}</div>
          </td>
          <td width="30%" *ngIf="run.duration">
            <small>Time</small>
            <div>{{run.get_duration}}</div>
          </td>
          <td width="30%" *ngIf="run.duration">
            <small>Pace</small>
            <div>{{run.get_pace}}</div>
          </td>
        </tr>
      </tbody>
    </table>
    <span *ngIf="run.description">{{run.description}}</span>
  </mat-card-content>
  <mat-card-actions align="end">
    <div *ngIf="user && run.user.pk == user.pk">
      <button mat-icon-button color="primary" title="Edit" aria-label="Edit run" routerLink="/runs/{{run.pk}}/edit">
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>
      <button type="button" mat-icon-button color="warn" title="Delete" aria-label="Delet run" (click)="onDelete()">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>