<mat-toolbar class="mat-elevation-z2" color="primary">
  <mat-toolbar-row>
    <span><a class="nostyle" routerLink="/">Daily km</a></span>
    <span><button mat-button routerLink="/">Home</button></span>
    <span class="spacer"></span>
    <span *ngIf="user">
      <button mat-button [matMenuTriggerFor]="menu">
        {{user.username}}<mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/account">Account</button>
        <button mat-menu-item routerLink="/gear">Gear</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </span>
    <span *ngIf="!user">
      <button mat-button routerLink="/register">Register</button>
      <button mat-button routerLink="/login">Login</button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
