<nav class="navbar navbar-expand-md navbar-dark bg-nav fixed-top">
  <div class="container">
    <a class="navbar-brand mr-4" href="#">Daily km</a>
    <button class="navbar-toggler" type="button" 
        data-toggle="collapse" data-target="#navbarToggle" 
        aria-controls="navbarToggle" aria-expanded="false" 
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggle">
      <!-- navbar left side -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a id='runs-home' class="nav-link" href="#">
            Home
          </a>
        </li>
      </ul>
      <!-- navbar right side -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a id="user-menu" class="nav-link dropdown-toggle" href="#"
              role="button" id="userDropdownBtn" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
            username
          </a>
          <div class="dropdown-menu dropdown-menu-right"
              aria-labelledby="userDropdownBtn">
            <a id="profile" class="dropdown-item"
                href="#">
              Profile
            </a>
            <a id="runs-gear-list" class="dropdown-item" 
                href="#">
              Gear
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
        <li class="nav-item">
          <a id="register" class="nav-link" href="#">
            Register
          </a>
        </li>
        <li class="nav-item">
          <a id="login" class="nav-link" href="#">
            Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>