<div class="col-sm-8 offset-sm-2">
  <mat-card *ngIf="user">
    <mat-card-header>
      <img mat-card-avatar src="{{user.profile.gravatar_url}}" alt="profile image.">
      <mat-card-title>{{user.username}}</mat-card-title>
      <mat-card-subtitle>
        <div>{{user.email}}</div>
        <div *ngIf="user.profile.location">{{user.profile.location}}</div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>    
      <div>Miles this week: {{user.profile.week_miles}}</div>
      <div>Total miles: {{user.profile.total_miles}}</div>
      
      <form *ngIf="user" [formGroup]="pwForm" (ngSubmit)="change_password()">
        <legend>Change Password</legend>

        <div>
          <mat-form-field>
            <input formControlName="old_password" type="password"
            matInput placeholder="Current Password" required>
            <mat-error *ngIf="old_password.errors && old_password.errors.api">
              <div *ngFor="let err of old_pw_err">{{err}}</div>
            </mat-error>            
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input formControlName="new_password1" type="password"
            matInput placeholder="Password" required>
            <mat-error *ngIf="new_password1.errors && new_password1.errors.api">
              <div *ngFor="let err of pw1_err">{{err}}</div>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input formControlName="new_password2" type="password"
            matInput placeholder="Confirm Password" required>
            <mat-error *ngIf="new_password2.errors && new_password2.errors.api">
              <div *ngFor="let err of pw2_err">{{err}}</div>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <button mat-stroked-button color="primary"
          [disabled]="pwForm.invalid" type="submit">Save</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>