<div class="media content-section">
  <div class="mr-2">
    <a class="no-hover" href="{% url 'users:profile' run.user.id %}">
      <img class="img-thumbnail"
        src="{{ run.user.profile.gravatar_url }}"
        alt="User profile image.">
    </a>
    <br>
    <a href="{% url 'users:profile' run.user.id %}">
      {{ run.user.username }}
    </a>
  </div>
  <div class="media-body">
    <h5 class="mt-0 mb-0 pb-0 d-flex">          
      <a href="{% url 'runs:detail' run.id %}">
        {{ run.date|date:'Y-m-d' }}
        {% if run.run_type %}
          {{ run.run_type }}
        {% endif %}
      </a>
      {% if user.id == run.user_id %}
      <div class="ml-auto">
        <a class="btn btn-outline-info" href="{% url 'runs:update' run.id %}">Edit</a>
        <a class="btn btn-outline-danger" href="{% url 'runs:delete' run.id %}">Delete</a>
      </div>
      {% endif %}
    </h5>
    <table style="width:70%;" class="table table-sm table-borderless">
      <tbody>
        <tr>
          <td>
            <small>Distance:</small>
            <div>{{ run.distance }} {{ run.units }}</div>
          </td>
          {% if run.duration %}
            <td>
              <small>Time:</small>
              <div>{{ run.get_duration }}</div>              
            </td>
            <td>
              <small>Pace:</small>
              <div>{{ run.get_pace }} /{{ run.units }}</div>
            </td>
          {% endif %}
        </tr>
      </tbody>
    </table>
    {% if run.description %}
      <div class="row">
        <div class="col">{{ run.description }}</div>
      </div>
    {% endif %}
  </div>
</div>