{% load widget_tweaks %}

<form method="POST">
  {% if legend %}
    <legend class="mb-4">{{ legend }}</legend>
  {% else %}
    <legend class="mb-4">Save a run</legend>
  {% endif %}
  {% csrf_token %}
  <div class="form-row">
    <div class="col">
      {{ form.distance.label_tag }}
      <div class="input-group">
        {{ form.distance|attr:"placeholder:0.0"|attr:"width:500" }}
        {{ form.units }}
      </div>
    </div>
    <div class="col-9">
      <label for="id_duration">Duration:</label>
      <div class="input-group">
        {{ form.duration|add_class:"time-input" }}
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      {{ form.date.label_tag }}
      {{ form.date|attr:"id:datepicker"|attr:"width:200px"|attr:"autocomplete:off" }}
    </div>
  </div>
  <div class="form-row">
    <div class="col mt-2">
      <button class="btn btn-outline-primary" type="submit">Save</button>
    </div>
  </div>
</form>