{% extends "runs/base.html" %}

{% block content %}
  <div class="content-section">
    {% include 'runs/includes/_run_form.html' %}
  </div>
  <div class="content-section">
    <h1>Runs</h1>
    {% for run in runs %}
      <div class="row border-top pt-2">
        <div class="col">
          <div class="row">
              <div class="col d-flex">
                <div>
                  <a href="{% url 'runs:detail' run.id %}">
                    <h3>{{ run.date|date:'Y-m-d' }}</h3>
                  </a>
                </div>
                {% if user.id == run.user_id %}
                <div class="ml-auto">
                  <a class="btn btn-outline-info" href="{% url 'runs:update' run.id %}">Edit</a>
                  <a class="btn btn-outline-danger" href="{% url 'runs:delete' run.id %}">Delete</a>
                </div>
                {% endif %}
              </div>
          </div>
          <div class="row">
            <div class="col">
              {{ run.distance }} {{ run.units }}
                {% if run.duration %}
                  - {{ run.duration }}
                {% endif %}
                
            </div>
          </div>
          <div class="row">
            <div class="col mb-1">
              {% if run.gear %}
                Gear:
                <a href="{{ run.gear.get_absolute_url }}">
                  {{ run.gear }}
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
<!-- GIJGO controls -->
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>    
<script>
  $('#datepicker').datepicker({
    uiLibrary: 'bootstrap4',
    value: '{{ now }}'
  });
</script>
{% endblock %}