{% extends "runs/base.html" %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="content-section">
    {% include 'runs/includes/_run_form.html' %}
  </div>
  {% else %}
  <div class="content-section" role="alert">
    <a href="{% url 'users:register' %}">Sign up</a>
    or
    <a href="{% url 'users:login' %}">log in</a>
    to start saving runs.
  </div>
  {% endif %}
  {% for run in runs %}
    <div class="media content-section">
      <div class="mr-2">
        <a class="no-hover" href="{% url 'users:profile' run.user.id %}">
          <img class="img-thumbnail"
            src="{{ run.user.profile.gravatar_url }}"
            alt="User profile image.">
        </a>
        <br>
        <a href="{% url 'users:profile' run.user.id %}">
          {{ run.user.username }}
        </a>
      </div>
      <div class="media-body">
        <h5 class="mt-0 mb-0 pb-0 d-flex">          
          <a href="{% url 'runs:detail' run.id %}">
            {{ run.date|date:'Y-m-d' }}
            {% if run.run_type %}
              {{ run.run_type }}
            {% endif %}
          </a>
          {% if user.id == run.user_id %}
          <div class="ml-auto">
            <a class="btn btn-outline-info" href="{% url 'runs:update' run.id %}">Edit</a>
            <a class="btn btn-outline-danger" href="{% url 'runs:delete' run.id %}">Delete</a>
          </div>
          {% endif %}
        </h5>
        {% if run.description %}
          <div class="row">
            <div class="col">{{ run.description }}</div>
          </div>
        {% endif %}
        <small>
          <div class="row">
            <div class="col">
              Distance: {{ run.distance }} {{ run.units }}
            </div>
          </div>
          {% if run.duration %}
            <div class="row">
              <div class="col">
                Time: {{ run.duration }}
              </div>
            </div>
            <div class="row">
              <div class="col">
                Pace: {{ run.get_pace }} / {{ run.units }}
              </div>
            </div>             
          {% endif %}
          {% if run.run_type %}
            <div class="row">
              <div class="col">
                Type: {{ run.run_type }}
              </div>
            </div>
          {% endif %}
          {% if run.gear %}
            <div class="row">
              <div class="col">
                Shoe: <a href="{{ run.gear.get_absolute_url }}">
                  {{ run.gear.name }}
                </a>
              </div>
            </div>                
          {% endif %}
        </small>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block scripts %}
<!-- GIJGO controls -->
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>    
<script>
  var today;
  today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
  $('#datepicker').datepicker({
    uiLibrary: 'bootstrap4',
    value: '{{ now }}',
    modal: true,
    header: true,
    footer: true,
    maxDate: today
  });
  $(document).ready(function() {
    window.onload = function() {
      $('#id_distance').focus();
    };
  });
</script>
{% endblock %}