{% extends "runs/base.html" %}
{% load widget_tweaks %}

{% block content %}
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <legend class="mb-4">Save a run</legend>
      <div class="form-row">
        <div class="col">
          {{ form.distance.label_tag }}
          <div class="input-group">
            {{ form.distance|attr:"value:0.0"|attr:"width:500" }}
            {{ form.units }}
          </div>
        </div>
        <div class="col">
          <label for="id_hours">Time:</label>
          <div class="input-group">
            {{ form.hours|attr:"value:00"|add_class:"time-input" }}
            {{ form.minutes|attr:"value:00"|add_class:"time-input" }}
            {{ form.seconds|attr:"value:00"|add_class:"time-input" }}
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          {{ form.date.label_tag }}
          {{ form.date|attr:"id:datepicker"|attr:"width:200px" }}
        </div>
      </div>
      <div class="form-row">
        <div class="col mt-2">
          <button class="btn btn-outline-info" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
  {% for run in runs %}
    <div class="content-section">
      <h3>{{ run.date|date:'Y-m-d' }}</h3>
      <p>{{ run.distance }} mi. - {{ run.hours }}:{{ run.minutes }}:{{ run.seconds }}</p>
    </div>
  {% endfor %}
{% endblock %}