{% extends 'runs/base.html' %}

{% block content %}
  <div class="media content-section">
    <div class="mr-2">
      <a class="no-hover" href="{% url 'users:profile' run.user.id %}">
        <img class="img-thumbnail"
          src="{{ run.user.profile.gravatar_url }}"
          alt="User profile image.">
      </a>
      <br>
      <a href="{% url 'users:profile' run.user.id %}">
        {{ run.user.username }}
      </a>
    </div>
    <div class="media-body">
      <h1 class="mt-0 mb-0 pb-0 d-flex">          
        {{ run.date|date:'Y-m-d' }}
        {% if run.run_type %}
          {{ run.run_type }}
        {% endif %}
        {% if user.id == run.user_id %}
        <div class="ml-auto">
          <a class="btn btn-outline-info" href="{% url 'runs:update' run.id %}">Edit</a>
          <a class="btn btn-outline-danger" href="{% url 'runs:delete' run.id %}">Delete</a>
        </div>
        {% endif %}
      </h1>
      {% if run.description %}
        <div class="row">
          <div class="col">{{ run.description }}</div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col">
          Distance: {{ run.distance }} {{ run.units }}
        </div>
      </div>
      {% if run.duration %}
        <div class="row">
          <div class="col">
            Time: {{ run.duration }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Pace: {{ run.get_pace }} / {{ run.units }}
          </div>
        </div>             
      {% endif %}
      {% if run.run_type %}
        <div class="row">
          <div class="col">
            Type: {{ run.run_type }}
          </div>
        </div>
      {% endif %}
      {% if run.gear %}
        <div class="row">
          <div class="col">
            Shoe: <a href="{{ run.gear.get_absolute_url }}">
              {{ run.gear.name }}
            </a>
          </div>
        </div>                
      {% endif %}
    </div>
  </div>
{% endblock %}