{% load static %}<!DOCTYPE doctype html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Daily Km</title>
<base href="/"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link href='{% static "ng/favicon.ico" %}' rel="icon" type="image/x-icon"/>
<link href='{% static "ng/styles.9e5c356a6481b5beaa2c.css" %}' rel="stylesheet"/></head>
<body>
<app-root></app-root>
<script src='{% static "ng/runtime-es2015.5bc68c0dd8cf137fbe82.js" %}' type="text/javascript"></script><script src='{% static "ng/polyfills-es2015.93bc1bebc4581dc49064.js" %}' type="text/javascript"></script><script src='{% static "ng/runtime-es5.ee0aae13fb762b150814.js" %}' type="text/javascript"></script><script src='{% static "ng/polyfills-es5.38c6da221291b284e1c4.js" %}' type="text/javascript"></script><script src='{% static "ng/scripts.6cf4da7113bcd1218d80.js" %}' type="text/javascript"></script><script src='{% static "ng/main-es2015.4fb0097cff3680833894.js" %}' type="text/javascript"></script><script src='{% static "ng/main-es5.bea98a8c6fea575500d9.js" %}' type="text/javascript"></script></body>
</html>
