<div *ngIf="user" class="content-section">
  <div class="sidebar-user">
    <img class="ml-auto mr-auto" src="{{user.profile.gravatar_url}}" alt="user profile image.">
  </div>
  <ul class="list-group list-group-flush text-muted">
    <li class="list-group-item">
      Miles this week: {{user.profile.week_miles}}
    </li>
    <li class="list-group-item">
      Total miles: {{user.profile.total_miles}}
    </li>
    <li *ngIf="user.profile.latest_shoe_miles" class="list-group-item">
      {{user.gear[0].name}} miles: {{user.profile.latest_shoe_miles}}
    </li>
  </ul>
</div>