<div class="col-sm-8 offset-sm-2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form *ngIf="!sent" [formGroup]="emailForm" (ngSubmit)="send_request()">
        <div>
          <mat-form-field>
            <input matInput formControlName="email"
            placeholder="Email" type="email" required>
          <mat-error *ngIf="email.errors && email.errors.email">
            Must be an email address.
          </mat-error>
          </mat-form-field>
        </div>

        <div>
          <button mat-stroked-button color="primary"
          type="submit" [disabled]="!email.valid">Send</button>
        </div>
      </form>
      <div *ngIf="sent">
        <p>An email has been sent with instructions for resetting your password.</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>  