<div class='col-sm-8 offset-sm-2'>
  <mat-card>
    <mat-card-header>
      <div style="float: left;">
        <a class="no-hover" href="#">
          <img class="img-thumbnail"
          [src]="run.user.gravatar_url"
          alt="user profile image.">
        </a>
        <br>
        <a href="#">
          {{user.username}}
        </a>
      </div>

      <div>
        <mat-card-title>{{run.run_date | date}}</mat-card-title>
        <div>Distance: {{run.distance}} {{run.units}}</div>
        <span *ngIf="run.duration">
          <div>Time: {{run.get_duration}}</div>
          <div>Pace: {{run.get_pace}} / {{run.units}}</div>
        </span>
        <div *ngIf="run.run_type">
          Type: <fa-icon [icon]="run_type"></fa-icon> {{run.run_type}}
        </div>
        <div *ngIf="run.gear">Shoe: {{run.gear.name}}</div>
      </div>

      <div *ngIf="user && user.pk == run.user.pk" class="ml-auto">
        <a mat-icon-button color="primary" routerLink="/runs/{{run.pk}}/edit">
          <fa-icon [icon]="faEdit"></fa-icon>
        </a>
        <button mat-icon-button color="warn" (click)="delete()">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content *ngIf="run.description">
      <br>
      <div>{{run.description}}</div>
    </mat-card-content>
  </mat-card>
</div>