<form [formGroup]="runForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="col-lg col-sm-6 col-xs-12">
      <label for="distance">Distance</label>
      <div class="input-group">
        <input type="number" class="form-control dist-input"
        formControlName="distance"
        placeholder="0.0"
        [ngClass]="{'is-invalid': distance.invalid && distance.touched}">
        <select class="form-control unit-input"
        formControlName="units"
        [ngClass]="{'is-invalid': units.invalid && units.touched}">
          <option value="mi">mi</option>
          <option value="km">km</option>
        </select>
      </div>
      <div class="form-errors" *ngIf="distance.invalid && distance.touched">
        <small>
          <div *ngIf="distance.errors.required">This field is required</div>
        </small>
      </div>
    </div>

    <div class="col-lg col-sm-6 col-xs-12">
      <label for="hours">Time</label>
      <div class="input-group">
        <input type="number" class="form-control time-input"
        formControlName="hours"
        placeholder="0"
        [ngClass]="{'is-invalid': hours.invalid && hours.touched}">
        <input type="number" class="form-control time-input"
        formControlName="minutes"
        placeholder="0"
        [ngClass]="{'is-invalid': minutes.invalid && minutes.touched}">
        <input type="number" class="form-control time-input"
        formControlName="seconds"
        placeholder="0"
        [ngClass]="{'is-invalid': seconds.invalid && seconds.touched}">
      </div>
      <div class="form-errors"
      *ngIf="(hours.invalid && hours.touched)
      || (minutes.invalid && minutes.touched)
      || (seconds.invalid && seconds.touched)">
        <small>
          <div *ngIf="hours.errors.min">Hours must be at least zero</div>
          <div *ngIf="minutes.errors.min">Minutes must be at least zero</div>
          <div *ngIf="minutes.errors.max">Minutes must not be larger than 59</div>
          <div *ngIf="seconds.errors.min">Seconds must be at least zero</div>
          <div *ngIf="seconds.errors.max">Seconds must not be larger than 59</div>
        </small>
      </div>
    </div>
  
    <div class="col-lg col-sm-6 col-xs-6">
      <label for="date">Date</label>
      <div class="input-group">
        <input type="date" class="form-control date-input"
        formControlName="date"
        [ngClass]="{'is-invalid': date.invalid && date.touched}">
      </div>
      <div class="form-errors" *ngIf="date.invalid && date.touched">
        <small>
          <div *ngIf="date.errors.required">This field is required</div>
        </small>
      </div>
    </div>

    <div class="col-lg col-sm-6 col-xs-6">
      <label for="gear">Gear</label>
      <div class="input-group">
        <input type="text" class="form-control gear-input"
        formControlName="gear"
        [ngClass]="{'is-invalid': gear.invalid && gear.touched}">
      </div>
    </div>

    <div class="col-lg col-sm-6 col-xs-6">
      <label for="run_type">Run Type</label>
      <div class="input-group">
        <select class="form-control gear-input"
        formControlName="run_type"
        [ngClass]="{'is-invalid': run_type.invalid && run_type.touched}">
          <option value="">----------</option>
          <option value="Road run">Road run</option>
          <option value="Trail run">Trail run</option>
          <option value="Race">Race</option>
          <option value="Treadmill">Treadmill</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      <label for="description">Description</label>
      <div class="input-group">
        <input type="text" class="form-control"
        formControlName="description"
        [ngClass]="{'is-invalid': description.invalid && description.touched}">
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col mt-2">
      <button class="btn btn-outline-primary" type="submit">Save</button>
    </div>
  </div>
</form>