<mat-card>
  <mat-card-header>
    <mat-card-title>{{legend}}</mat-card-title>
  </mat-card-header>
  <form [formGroup]="runForm" (ngSubmit)="onSubmit()">
  <mat-card-content>
      <div fxLayout="row wrap" fxLayoutGap="10px">
        <div>
          <mat-form-field class="dist-input">
            <mat-label>Distance</mat-label>
            <input type="number" formControlName="distance"
            matInput required placeholder="0.0">
          </mat-form-field>
          <mat-form-field class="unit-input">
            <mat-select formControlName="units" class="unit-input">
              <mat-option value="mi">mi</mat-option>
              <mat-option value="km">km</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="time-input">
            <mat-label>H</mat-label>
            <input matInput type="number" class="time-input"
            formControlName="hours"
            placeholder="0">
          </mat-form-field>
          :
          <mat-form-field class="time-input">
            <mat-label>M</mat-label>
            <input matInput type="number" class="time-input"
            formControlName="minutes"
            placeholder="0">
          </mat-form-field>
          :
          <mat-form-field class="time-input">
            <mat-label>S</mat-label>
            <input matInput type="number" class="time-input"
            formControlName="seconds"
            placeholder="0">
          </mat-form-field>
          <span *ngIf="hours.invalid && hours.touched">
            <mat-error *ngIf="hours.errors.min">
              Hours must be positive.
            </mat-error>
          </span>
          <span *ngIf="minutes.invalid && minutes.touched">
            <mat-error *ngIf="minutes.errors.min">
              Minutes must be positive.
            </mat-error>
            <mat-error *ngIf="minutes.errors.max">
              Minutes must be less than 60.
            </mat-error>
          </span>
          <span *ngIf="seconds.invalid && seconds.touched">
            <mat-error *ngIf="seconds.errors.min">
              Seconds must be positive.
            </mat-error>
            <mat-error *ngIf="seconds.errors.max">
              Seconds must be less than 60.
            </mat-error>
          </span>
        </div>

        <div>
          <mat-form-field class="date-input">
            <input matInput required [matDatepicker]="datePicker" placeholder="Date" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="gear-input">
            <mat-label>Gear</mat-label>
            <mat-select formControlName="gear">
              <mat-option value="">----------</mat-option>
              <mat-option *ngFor="let g of user.gear" value="{{g.pk}}">{{g.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="gear-input">
            <mat-label>Run Type</mat-label>
            <mat-select formControlName="run_type">
              <mat-option value="">----------</mat-option>
              <mat-option value="Canicross">Canicross</mat-option>
              <mat-option value="Road run">Road run</mat-option>
              <mat-option value="Long run">Long run</mat-option>
              <mat-option value="Trail run">Trail run</mat-option>
              <mat-option value="Race">Race</mat-option>
              <mat-option value="Treadmill">Treadmill</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="grow">
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>
      </div>      
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary" [disabled]="!runForm.valid" type="submit">Save</button>
    </mat-card-actions>
  </form>
</mat-card>