/* You can add global styles to this file, and also import other style files */
body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}
    
.bg-nav {
    background-color: #5486be;
}
  
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-errors {
    color: red;
}