{% extends "runs/base.html" %}

{% block content %}
  <div class="content-section">
    <div class="media">
        <img class="mr-3" src="{{ owner.profile.gravatar_url }}"
          alt="User profile image.">
        <div class="media-body">
          <h5 class="mt-0">{{ owner.username }}</h5>
          <div class="row">
            <div class="col">
              Total Runs: {{ owner.run_set.count }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              Total Miles: {{ owner.profile.get_total_miles }}
            </div>
          </div>
        </div>
    </div>
    <br>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-runs-tab" 
        data-toggle="tab" href="#nav-runs" role="tab" 
        aria-controls="nav-runs" aria-selected="true">Runs</a>
        <a class="nav-item nav-link" id="nav-gear-tab"
        data-toggle="tab" href="#nav-gear" role="tab"
        aria-controls="nav-gear" aria-selected="false">Gear</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-runs"
      role="tabpanel" aria-labelledby="nav-runs-tab">
        {% for run in owner.run_set.all %}
          <div class="row">
            <div class="col">
              <a href="{% url 'runs:detail' run.id %}">
                {{ run.date|date:'Y-m-d' }}
              </a>
              {{ run.distance }} {{ run.units }}
              {% if run.duration %}
                {{ run.get_duration }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="tab-pane fade" id="nav-gear" role="tabpanel"
      aria-labelledby="nav-gear-tab">
        {% for gear in owner.gear_set.all %}  
          <div class="row">
            <div class="col">
              <a href="{% url 'runs:gear-detail' gear.id %}">
                {{ gear.name }}
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}