<div class="col-sm-8 offset-sm-2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
          <mat-form-field>
            <input matInput formControlName="username"
            placeholder="Username" type="text" required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input matInput formControlName="password"
            placeholder="Password" type="password" required>
          </mat-form-field>
        </div>

        <div>
          <button mat-stroked-button color="primary"
          [disabled]="loginForm.invalid" type="submit">Login</button>
        </div>
        <small>Forgot your password? Click <a routerLink="/forgot-password">here</a> to request a new one.</small>
      </form>
    </mat-card-content>
  </mat-card>
</div>