<div *ngIf="gear" class="col-sm-8 offset-sm-2 content-section">
  <h2>Your Running Shoes</h2>
  <button class="btn btn-outline-success" (click)="add_gear()">Add New Shoes</button>
  
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Added</th>
        <th scope="col">Miles</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let g of gear" [ngClass]="{'text-muted': g.date_retired}">
        <td>{{g.name}}</td>
        <td>{{g.date_added | date}}</td>
        <td>{{g.total_miles}}</td>
        <td class="text-right">
          <button class="btn btn-sm btn-outline-info" (click)="edit_gear(g)">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <button class="btn btn-sm btn-outline-danger" (click)="delete(g.pk)">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
