body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}
  
.bg-nav {
  background-color: #5486be;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

.time-input {
  max-width: 7ch;
}

.dist-input {
  max-width: 9ch;
}

.unit-input {
  max-width: 8ch;
}

.date-input {
  max-width: 15ch;
}

.gear-input {
  max-width: 15ch;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}