body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}
  
.bg-nav {
  background-color: #5486be;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

.time-input {
  max-width: 7ch;
}

.dist-input {
  max-width: 9ch;
}

.unit-input {
  max-width: 8ch;
}

.date-input {
  max-width: 15ch;
}

.gear-input {
  max-width: 15ch;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.no-hover {
  text-decoration: none !important;
  border: 0px !important;
  outline: none;
  border-width: 0px;
  outline-width: 0px;
  border-bottom: none;
}

.list-group-flush .list-group-item:first-child {
  border-top: 0;
}

.sidebar-user {
  text-align:center;
}

.sidebar-user img {
  display:block;
  margin:auto;
}

.table-sm td {
  padding: 0;
}

.table-borderless td {
  border: none;
}