body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}
  
.bg-nav {
  background-color: #5486be;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

.time-input {
  max-width: 7ch;
}